doctype html
html(lang="en")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale= 1.0, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet", href="styles/css/styles.css")
body
  main
    .menu-icon
      svg(viewbox="0 0 100 100", width='80px', height='80px')
        path#first(d='M 30 40 L 70 40 C 90 40 90 75 60 85 A 40 40 0 0 1 20 20 L 80 80')
        path#middle(d='M 30 50 L 70 50')
        path#second(d='M 70 60 L 30  60 C 10 60 10 20 40 15 A 40 38 0 1 1 20 80 L 80 20')
      .trigger
    nav.top.visible
      ul
        li
          a(href="#header") HOME
        li
          a(href="#services") WHAT I DO
        li
          a(href="#work") MY WORKS
        li
          a(href="#about") ABOUT
        li
          a(href="#contact") CONTACT
    header
      .header-text-1
        h1 TACOS CARDIGAN
          br
          | TRUFFAUT
          span QUANTED!
      section.header-images-2
        //.donut-image
        //  img(src="images/donut.png")
        svg.glasses-svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 530 132.3')
          path(d='M101.2 33.1V.5c1.6-.1 3.1-.3 4.5-.3 25.5 0 51-.8 76.5.3 17.2.7 34.5 3.1 51.5 6.1 21.3 3.8 42.4 3.5 63.5-.8 19-3.9 38.1-6 57.5-5.7 21.8.3 43.7.1 65.5.1h5.6V33c-13.4 3-16.7 6.7-17.9 20.4-.8 8.8-.4 17.7-1.9 26.4-4.8 29-30.3 49.2-60.2 48.4-28-.7-52.4-22.9-56-51.1-.5-3.6-1.2-6.7-4-9.7-2.3-2.5-3.2-6.9-3.6-10.5-1.1-12.6-8.6-21.5-18.7-21.5-10.2 0-18 8.9-18.7 21.4-.3 5-1.6 9.3-5.4 13-1.5 1.4-1.8 4.4-2.2 6.7-3.4 24.8-20.5 44.1-44.7 50.1-35.7 8.9-71.3-17.8-72.7-54.6-.2-6.3-.3-12.7-.9-19-1-13.4-4.6-17.3-17.7-19.9zm301.4 36.4c0-33.3-26.7-56.4-56.8-55.1-29.5 1.2-53.6 26.6-51.9 58.6 1.6 28.5 26.6 51.5 56.3 50.6 29-.9 53.4-26.1 52.4-54.1zm-277.7-.7c-.6 28.9 23.1 54 51.7 54.6 30.5.7 55.7-22.6 56.4-52.1.8-31-23-56.5-53.4-56.7-35.1-.2-55.9 29.3-54.7 54.2z')
          path(fill='none', stroke='#000', stroke-width='5', stroke-miterlimit='10', d='M0 11.3h483.5m-437 10.5H530')
          path(fill='#FAD663', d='M402.6 69.5c1 28-23.4 53.2-52.4 54.1-29.7.9-54.7-22.1-56.3-50.6-1.8-32.1 22.4-57.4 51.9-58.6 30-1.3 56.8 21.8 56.8 55.1zm-277.7-.7c-1.2-24.9 19.7-54.4 54.7-54.2 30.4.2 54.2 25.7 53.4 56.7-.7 29.5-25.9 52.8-56.4 52.1-28.7-.7-52.4-25.7-51.7-54.6z')
          path(fill='none', stroke='#000', stroke-width='5', stroke-miterlimit='10', d='M346 32.5c1.4-.2 2.9-.3 4.4-.3 18.2 0 33 14.8 33 33 0 1.3-.1 2.5-.2 3.8M177 32.5c1.4-.2 2.9-.3 4.4-.3 18.2 0 33 14.8 33 33 0 1.3-.1 2.5-.2 3.8')
      .see-more-btn
        a(href="#services")
          button.see(type='submit') SEE MORE
          .line1
          .line2
        //.tomatoe-image
        //  img(src="images/tomatoe.png")
      .scroll-row
    section#services.services
      .block1
        .head
          h1 WHAT I DO
          .line3
          .line4
      .block2
        .scroll
          svg(width='100px', height='400px')
            path(stroke-dasharray='15,20', d='M50 5 v 400 0')
            rect(x='37', y='127', ry='15', width='26', height='50')
      .block3
        p Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore.
    section.service-details
      .services4
        img.main(src="images/headphones.svg")
        img.lines(src="images/short-line.svg")
        h4 ULTRICIES
        p Our dollar toast messenger bag green juice, organic cliche tofu synth small batch locavore austin. Squid mlkshk authe ntic pinterest, pour-over gastropub XOXO seitan sartorial humblebrag.
      .services5
        img.main(src="images/screen.svg")
        img.lines(src="images/short-line.svg")
        h4 PORTTITOR
        p Tofu mixtape selfies, swag brooklyn banh mi stumptown loca vore yr migas tousled chicharrones sriracha cray leggings. Street art tousled kale chips poutine schlitz. Pitchfork distillery next.
      .servces6
        img.main(src="images/camera.svg")
        img.lines(src="images/short-line.svg")
        h4 CURABITUR
        p Reamcatcher deep v austin schlitz drinking vinegar, messen ger bag slow-carb. Migas tumblr kombucha you probably hav en't heard of them +1 chicharrones. Tilde wayfarers craft beer stumptown.
    section#work.works
      .works1
      .works2
        svg(width='100px', height='200px')
          path(stroke-dasharray='15,20', d='M50 5 v200 0')
          rect(x='37', y='128', ry='15', width='26', height='50')
      .works3
        .head
          h1 MY WORKS
          .line3
          .line4
    .examples
      img(src="images/img1.jpg")
      img(src="images/img2.jpg")
      img(src="images/img3.jpg")
      img(src="images/img4.jpg")
      .hide
        img(src="images/img4.jpg")
        img(src="images/img3.jpg")
        img(src="images/img2.jpg")
        img(src="images/img1.jpg")
      .see-more-btn
        button.see(type='submit') LOAD MORE
        .line1
        .line2
    section#about.about
      .skills1
        .block1
          .head
            h1 ABOUT ME
            .line3
            .line4
        .block2
          svg(width='100px', height='200px')
            path(stroke-dasharray='15,20', d='M50 5 v200 0')
            rect(x='37', y='128', ry='15', width='26', height='50')
        .block3
          p Fingerstache green juice semiotics quinoa, truffaut letterpress wolf photo booth ugh biodiesel mumblecore brunch. Meh austin vinyl banh mi, gluten-free chillwave scenester kombucha street art. Before they sold out lumbersexual chillwave, cold-pressed mumblecore beard pickled letterpress normcore crucifix.
      .skills2
        .block4
          svg(id='first-svg' xmlns='http://www.w3.org/2000/svg', viewbox='0 0 256.4 258.1')
            circle(fill='#FDF8FC', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', cx='138.9', cy='139.8', r='115.4')
            path(fill='#FFF', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', d='M37.5 141c0 56 45.2 101.1 101.4 101.1S240.4 196 240.4 139.8 194 38 138 38v102l-100.5 1z')
            path(fill='#D7D2D6', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M138 38c56 0 102.4 45.6 102.4 101.8S195.2 242.1 139 242.1 37.5 197 37.5 141h-14c0 64 51.8 115.1 115.8 115.1S254.4 203.9 254.4 140 202 24 138 24v14z')
            path(fill='none', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M21 133h61M0 141h61M130 21v61M138 0v61')
          h3.chart.ps 0%
          h4 PHOTOSHOP
          p Mustache butcher direct trade, locavore banjo flexitarian taxidermy swag poutine literally. Selvage bushwick pour-over hella, austin kogi tumblr 90's chartreuse tacos.
        .block5
          svg(id='second-svg' xmlns='http://www.w3.org/2000/svg', viewbox='0 0 236 259.3')
            circle(fill='#FDF8FC', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', cx='118.4', cy='138.9', r='115.4')
            path(fill='#FFF', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', d='M66.1 226.8c15.3 9.1 33.1 14.4 52.3 14.4 56.2 0 101.4-46.1 101.4-102.3S173.5 37.1 117.5 37.1v102l-51.4 87.7z')
            path(fill='#D7D2D6', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M58.4 238.4c17.6 10.7 38.3 16.8 60.4 16.8 63.9 0 115.1-52.2 115.1-116.1s-52.4-116-116.4-116v14c56 0 102.4 45.6 102.4 101.8s-45.2 102.3-101.4 102.3c-18 0-34.9-4.6-49.6-12.8-.9-.5-1.8-1-2.7-1.6')
            path(fill='none', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M50.7 236.1L82.3 184M46.7 258.2l31.6-52.1M109.5 21v61M117.5 0v61')
          h3.chart.ai 0%
          h4 ILLUSTRATOR
          p Viral actually PBR&B, portland wayfarers gluten-free pour-over. Pop-up kombucha chicharrones, YOLO mixtape celiac squid. Heirloom plaid everyday carry mustache.
        .block6
          svg(id='third-svg' xmlns='http://www.w3.org/2000/svg', viewbox='0 0 256.7 257.4')
            circle(fill='#FDF8FC', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', cx='117.6', cy='139.8', r='115.4')
            path(fill='#FFF', stroke='#F4F4F4', stroke-width='4', stroke-miterlimit='10', d='M219 139.8C219 83.6 172.7 38 116.7 38v102l102.3-.2')
            path(fill='#D7D2D6', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M219 139.8C219 83.6 172.7 38 116.7 38V24c64 0 116.4 52.1 116.4 116')
            path(fill='none', stroke='#000', stroke-width='4', stroke-miterlimit='10', d='M108.7 21v61M116.7 0v61M235.7 146h-61M256.7 138h-61')
          h3.chart.knit 0%
          h4 KNITTING
          p Pitchfork distillery next level, polaroid roof party austin fanny pack knausgaard everyday carry ethical freegan plaid yuccie brunch. Blue bottle wayfarers umami.
  section#contact.contact
    .center
      .headline
        h1 contact
        .line3
        .line4
      .form
        form
          p Name:
          input(type='text', name='firstname')
          br
          p   Email:
          input(type='email', name='email')
          br
          p Message:
          textarea(name='message')
      .send-btn
        button.send(type='submit') SEND
        .line1
        .line2
      .social
        a(href="http://facebook.com")
          img(src="images/facebook.svg")
        a(href="http://twitter.com")
          img(src="images/twitter.svg")
        a(href="https://plus.google.com")
          img(src="images/google-.svg")
        a(href="https://pinterest.com")
          img(src="images/pinterest.svg")
        a(href="https://linkedin.com")
          img(src="images/linkedin.svg")
        .adress
          h4 Adress:
          p 9114 Bridge Street, Hillsboro OR 97124
        .phone
          h4 phone:
          p +48 202 - 555 - 0114
        .email
          h4 email:
          p contact@yoursite.com
      h4.copy copyright 2015 &copy; by anna dadej
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
      script(src='node_modules/vivus/dist/vivus.js')
      <!-- build:js build/js/main.min.js -->
      script(src='js/script.js')
      script(src='js/moveit.js')
      <!-- endbuild -->
      
